# Shared DB
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=db
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

# Api gateway
HOST=0.0.0.0
PORT=8080
LOG_LEVEL=INFO
GIN_MODE=release
STORE_BACKEND=postgres
OCR_SERVICE_URL=http://ocr:8000/api/v1
MAX_UPLOAD_SIZE_MB=50
AUTH_SECRET=your_auth_secret_here
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=720h
LIGHTRAG_SERVICE_URL=http://lightrag:9621

# =====OCR=====
OCR_TEMP_DIR=/app/tmp
OCR_MINERU_USE_GPU=false
OCR_MINERU_BACKEND=pipeline
OCR_MINERU_DOCUMENT_TIMEOUT_SECONDS=1800.0
OCR_MINERU_PREPROCESS_SCANS=true
OCR_MINERU_SCAN_DPI=220
OCR_MINERU_MAX_PAGE_MEGAPIXELS=12
OCR_NATIVE_MIN_CHARACTERS=40
OCR_NATIVE_MINIMUM_USABLE_PAGE_RATIO=0.95
MINERU_MODEL_SOURCE=huggingface
OCR_API_PREFIX=/api/v1
OCR_LOG_LEVEL=INFO

# Lightrag
LIGHTRAG_LLM_BINDING=openai
LIGHTRAG_LLM_BINDING_HOST=https://ai.api.cloud.yandex.net/v1
LIGHTRAG_LLM_MODEL=gpt://b1ggusvist6c2sia1dno/yandexgpt-5.1/latest
LIGHTRAG_LLM_BINDING_API_KEY=your_api_key_here
LIGHTRAG_LLM_TIMEOUT=300
LIGHTRAG_EMBEDDING_BINDING=jina
LIGHTRAG_EMBEDDING_BINDING_HOST=https://api.jina.ai/v1/embeddings
LIGHTRAG_EMBEDDING_BINDING_API_KEY=
LIGHTRAG_EMBEDDING_MODEL=jina-embeddings-v3
LIGHTRAG_EMBEDDING_DIM=1024
LIGHTRAG_EMBEDDING_TOKEN_LIMIT=8192
LIGHTRAG_EMBEDDING_SEND_DIM=false
LIGHTRAG_EMBEDDING_USE_BASE64=false
LIGHTRAG_SUMMARY_LANGUAGE=Russian
LIGHTRAG_MAX_ASYNC_LLM=2
LIGHTRAG_MAX_PARALLEL_INSERT=1
LIGHTRAG_EMBEDDING_FUNC_MAX_ASYNC=2
LIGHTRAG_EMBEDDING_BATCH_NUM=4
LIGHTRAG_POSTGRES_VECTOR_INDEX_TYPE=HNSW
LIGHTRAG_POSTGRES_HNSW_M=16
LIGHTRAG_POSTGRES_HNSW_EF=200
LIGHTRAG_POSTGRES_IVFFLAT_LISTS=100
LIGHTRAG_WORKSPACE=default

MAX_ASYNC=2
MAX_PARALLEL_INSERT=1
EMBEDDING_FUNC_MAX_ASYNC=2
EMBEDDING_BATCH_NUM=4
OLLAMA_LLM_NUM_CTX=8192
OLLAMA_EMBEDDING_NUM_CTX=8192

SUMMARY_LANGUAGE=Russian
