openapi: 3.1.0
info:
  title: Норникель База Знаний
  description: Норникель База Знаний
  version: 1.0.0
servers:
- url: 'https://nnkl.iamamaev.online'
paths:
  /api/health:
    get:
      summary: Проверка доступности сервиса
      tags:
      - System
      responses:
        '200':
          description: Сервис работает
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: База данных недоступна
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /api/v1/auth/register:
    post:
      summary: Создать аккаунт
      tags:
      - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Аккаунт создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/auth/login:
    post:
      summary: Войти в систему
      tags:
      - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Успешная аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/auth/refresh:
    post:
      summary: Обновить пару токенов
      tags:
      - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: Токены обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPairResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/auth/logout:
    post:
      summary: Выйти из текущей сессии (отозвать refresh токен)
      tags:
      - Auth
      security:
      - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutRequest'
      responses:
        '204':
          description: Сессия завершена
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/auth/logout-all:
    post:
      summary: Завершить все сессии пользователя
      tags:
      - Auth
      security:
      - BearerAuth: []
      responses:
        '204':
          description: Все сессии завершены
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/auth/sessions:
    get:
      summary: Получить список активных сессий пользователя
      tags:
      - Auth
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Список сессий
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SessionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/auth/me:
    get:
      summary: Получить профиль текущего пользователя
      tags:
      - Auth
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Профиль пользователя
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/data:
    get:
      summary: Получить список загруженных объектов
      tags:
      - Data
      security:
      - BearerAuth: []
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          default: 1
        description: Номер страницы
      - in: query
        name: pageSize
        schema:
          type: integer
          default: 20
        description: Размер страницы
      - in: query
        name: query
        schema:
          type: string
        description: Поиск по названию файла
      - in: query
        name: type
        schema:
          type: string
        description: Фильтр по типу файла
      - in: query
        name: status
        schema:
          type: string
          enum:
          - pending
          - processing
          - ready
          - failed
        description: Фильтр по статусу обработки
      responses:
        '200':
          description: Страница со списком объектов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedKnowledgeObjectList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      summary: Загрузить новые объекты в базу знаний
      tags:
      - Data
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: array
                  items:
                    type: string
                    format: binary
                params:
                  $ref: '#/components/schemas/DataUploadParams'
              encoding:
                params:
                  contentType: application/json
      responses:
        '201':
          description: Объекты приняты в обработку
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataUploadResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
  /api/v1/data/ask:
    post:
      summary: Задать вопрос к базе знаний
      tags:
      - Data
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AskRequest'
      responses:
        '200':
          description: Ответ на вопрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AskResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/v1/data/ask/stream:
    post:
      summary: Стриминг ответа на вопрос (NDJSON)
      tags:
      - Data
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AskRequest'
      responses:
        '200':
          description: NDJSON-поток с чанками ответа
          content:
            application/x-ndjson:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/v1/data/{id}/numeric-facts:
    get:
      summary: Получить числовые факты документа
      description: Возвращает извлечённые из документа числовые факты для отладки фильтрации.
      tags:
      - Data
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Список числовых фактов
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/NumericFact'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/data/{id}:
    get:
      summary: Получить данные объекта
      tags:
      - Data
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Данные объекта
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeObjectDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      summary: Обновить объект
      tags:
      - Data
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/Id'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                data:
                  type: string
                  format: binary
                  description: Один файл замены (опционально)
                params:
                  $ref: '#/components/schemas/DataUpdateParams'
              encoding:
                params:
                  contentType: application/json
      responses:
        '200':
          description: Объект обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeObject'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      summary: Удалить объект
      tags:
      - Data
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Объект удален
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/data/{id}/download:
    get:
      summary: Скачать оригинальный файл объекта
      tags:
      - Data
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Файл
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              schema:
                type: string
              description: attachment; filename="..."
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/data/{id}/reprocess:
    post:
      summary: Перезапустить парсинг и индексацию объекта
      tags:
      - Data
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '202':
          description: Объект поставлен в очередь на переработку
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/BadGateway'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    Id:
      in: path
      name: id
      required: true
      schema:
        type: string
        format: uuid
      description: Идентификатор ресурса
  responses:
    BadRequest:
      description: Некорректный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Требуется аутентификация
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Недостаточно прав
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Конфликт (ресурс уже существует)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    PayloadTooLarge:
      description: Размер запроса превышает лимит
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServiceUnavailable:
      description: ML-сервис или очередь недоступны
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadGateway:
      description: Ошибка взаимодействия с OCR-сервисом
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      required:
      - message
      properties:
        message:
          type: string
        code:
          type: string
    HealthResponse:
      type: object
      required:
      - status
      - store
      - database
      properties:
        status:
          type: string
          example: healthy
        store:
          type: string
          example: postgres
        database:
          type: string
          example: up
        maxUploadSizeMB:
          type: integer
          example: 512
        error:
          type: string
          description: Только при status=unhealthy
    RegisterRequest:
      type: object
      required:
      - email
      - password
      properties:
        email:
          type: string
          format: email
        name:
          type: string
        password:
          type: string
          format: password
          minLength: 8
    LoginRequest:
      type: object
      required:
      - email
      - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
    RefreshRequest:
      type: object
      required:
      - refreshToken
      properties:
        refreshToken:
          type: string
    LogoutRequest:
      type: object
      properties:
        refreshToken:
          type: string
          description: Токен для отзыва (опционально — если не передан, отзывается текущий)
    TokenPairResponse:
      type: object
      required:
      - accessToken
      - refreshToken
      - expiresAt
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresAt:
          type: string
          format: date-time
    AuthSessionResponse:
      allOf:
      - $ref: '#/components/schemas/TokenPairResponse'
      - type: object
        required:
        - user
        properties:
          user:
            $ref: '#/components/schemas/UserResponse'
    UserResponse:
      type: object
      required:
      - id
      - email
      - role
      - emailVerified
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
          enum:
          - admin
          - guest
        emailVerified:
          type: boolean
        avatarUrl:
          type: string
          format: uri
          nullable: true
        lastLoginAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    SessionResponse:
      type: object
      required:
      - id
      - ip
      - userAgent
      - createdAt
      - lastUsedAt
      properties:
        id:
          type: string
          format: uuid
        ip:
          type: string
        userAgent:
          type: string
        createdAt:
          type: string
          format: date-time
        lastUsedAt:
          type: string
          format: date-time
    AskRequest:
      type: object
      required:
      - query
      properties:
        query:
          type: string
          description: Текст вопроса
        mode:
          type: string
          default: naive
          description: Режим поиска (naive, local, global, hybrid)
        numericFilters:
          type: array
          description: Явные числовые фильтры для предварительной фильтрации документов
          items:
            $ref: '#/components/schemas/NumericFilter'
    AskResponse:
      type: object
      required:
      - answer
      - mode
      properties:
        answer:
          type: string
          description: Ответ
        mode:
          type: string
        sessionId:
          type: string
          format: uuid
          description: ID сессии запроса
        references:
          type: object
          description: Ссылки на источники (proprietary JSON)
    NumericFilter:
      type: object
      properties:
        property:
          type: string
          description: Название свойства (например, "концентрация сульфатов")
        min:
          type: number
          description: Минимальное значение
        max:
          type: number
          description: Максимальное значение
        unit:
          type: string
          description: Единица измерения (например, "мг/л")
    NumericFact:
      type: object
      properties:
        id:
          type: string
          format: uuid
        documentId:
          type: string
          format: uuid
        chunkId:
          type: string
        entityName:
          type: string
        property:
          type: string
        value:
          type: number
        value2:
          type: number
        unit:
          type: string
        operator:
          type: string
        rawText:
          type: string
        createdAt:
          type: string
          format: date-time
    DataUploadParams:
      type: object
      properties:
        tags:
          type: array
          items:
            type: string
        outputFormat:
          type: string
          enum:
          - markdown
          - latex
          description: Формат вывода OCR
        language:
          type: string
          default: auto
          description: Язык документа для OCR
    DataUpdateParams:
      type: object
      properties:
        tags:
          type: array
          items:
            type: string
        outputFormat:
          type: string
          enum:
          - markdown
          - latex
          description: Формат вывода OCR
        language:
          type: string
          default: auto
          description: Язык документа для OCR
    DataUploadItem:
      type: object
      required:
      - id
      - filename
      - type
      - status
      properties:
        id:
          type: string
          format: uuid
        filename:
          type: string
        type:
          type: string
          description: Тип файла (pdf, docx, pptx, markdown)
        status:
          type: string
    DataUploadResponse:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/DataUploadItem'
    KnowledgeObjectResponse:
      type: object
      required:
      - id
      - filename
      - type
      - contentType
      - sizeBytes
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
          format: uuid
        filename:
          type: string
        type:
          type: string
        contentType:
          type: string
        tags:
          type: array
          items:
            type: string
        sizeBytes:
          type: integer
          format: int64
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    KnowledgeObject:
      type: object
      allOf:
      - $ref: '#/components/schemas/KnowledgeObjectResponse'
      - type: object
        properties:
          status:
            type: string
            description: Статус обработки (pending, processing, completed, failed)
    PaginationMeta:
      type: object
      required:
      - page
      - pageSize
      - total
      - totalPages
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
    PaginatedKnowledgeObjectList:
      type: object
      required:
      - items
      - meta
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/KnowledgeObjectResponse'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    KnowledgeObjectDetails:
      type: object
      allOf:
      - $ref: '#/components/schemas/KnowledgeObject'
      - type: object
        properties:
          sha256:
            type: string
            nullable: true
          hasContent:
            type: boolean
          hasResult:
            type: boolean
          outputFormat:
            type: string
          language:
            type: string
          error:
            type: string
            nullable: true
