LLM_BINDING=openai
LLM_MODEL=gpt-oss-120b
LLM_BINDING_HOST=https://api.cerebras.ai/v1
LLM_BINDING_API_KEY=

EMBEDDING_BINDING=jina
EMBEDDING_MODEL=jina-embeddings-v3
EMBEDDING_BINDING_HOST=https://api.jina.ai/v1/embeddings
EMBEDDING_BINDING_API_KEY=
EMBEDDING_DIM=1024
EMBEDDING_TOKEN_LIMIT=8192

MAX_ASYNC=2
MAX_PARALLEL_INSERT=1
EMBEDDING_FUNC_MAX_ASYNC=2
EMBEDDING_BATCH_NUM=4

SUMMARY_LANGUAGE=Russian
